In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [66]:
import json
with open("User demo profiles.json", encoding="utf8") as file:
    text = file.read()
    profiles = json.loads(text)

profile_dict = {}
for profile in profiles:
    profile_dict[profile['id']] = profile['name']

In [67]:
profiles = pd.read_csv("labeled_users.csv")
profiles = profiles[profiles["race"] != 5]
profiles = profiles[profiles["race"].notna()]
profiles["race"] -= 1

profiles.replace({"user_id": profile_dict}, inplace=True)

In [68]:
profiles

                   user_id  is_female  year_born  race
0               Chad Boyce        0.0     1980.0   3.0
1                 Tomato ðŸ˜·        0.0     1985.0   3.0
2                    blank        1.0     1973.0   2.0
4                 755531.0        0.0     1982.0   3.0
5                     Mr.O        0.0     1987.0   2.0
...                    ...        ...        ...   ...
4127  706000000000000000.0        0.0     1997.0   3.0
4128  706000000000000000.0        0.0     1991.0   3.0
4129  718000000000000000.0        1.0     1988.0   1.0
4130  719000000000000000.0        1.0     1986.0   0.0
4131  739000000000000000.0        0.0     1988.0   3.0

[3939 rows x 4 columns]

In [69]:
train_profiles, test_profiles, train_labels, test_labels = train_test_split(profiles["user_id"], profiles["race"], test_size = .15, random_state = 0)

In [70]:
train_profiles.shape, test_profiles.shape, train_labels.shape, test_labels.shape

((3348,), (591,), (3348,), (591,))

In [71]:
train_labels.value_counts()

3.0    2709
0.0     310
1.0     206
2.0     123
Name: race, dtype: int64

In [72]:
test_labels.value_counts()

3.0    475
0.0     64
1.0     35
2.0     17
Name: race, dtype: int64

In [73]:
train_df = pd.DataFrame({"Name": train_profiles, "race": train_labels})
train_df.to_csv("race_train.csv", index=False)

In [74]:
test_df = pd.DataFrame({"Name": test_profiles, "race": test_labels})
test_df.to_csv("race_test.csv", index=False)