The original labelled_users.csv had an unequal distribution of age 
(312672 items for "0", 801 items for "1")

Prof Derry posted a new dataset with equal distribution in age. She said we can use old data for race and this new data for age. (https://piazza.com/class/ksrsk4bt97t221?cid=173)

I created the dataset for Age using the new dataset. The race dataset is same as the one Nick created, I just removed the age label.

In [1]:
import json
import pandas as pd

# For Age

In [2]:
with open("./labeled_users_1145/tweets.json", encoding="utf8") as file:
    text = file.read()
    tweets_1145 = json.loads(text)

In [3]:
#tweets_1145.keys()

In [4]:
len(tweets_1145)

2678

In [5]:
tweets_1145['strwbrrymlkt'][0:5]

['@_spacejamtwo THIRTY WHAT',
 'I love my best friend https://t.co/f1fhHWmEK4',
 'THANK YOU https://t.co/iGF1lyEWI0',
 '@_spacejamtwo I genuinely can not gage the size of you in this photo and it bothers me',
 '@hanpanmangaki IM SCREAMING THIS IS SO AMAZING!!!!!!!']

In [6]:
tweets_1145['___Dals'][0:5]

['It come wit it üò≠ https://t.co/ENyEtlphtP',
 '@naomisos Thanks bbyü•∞üòò',
 'I‚Äôm so pretty like &lt;3 https://t.co/EY5cjNtdeI',
 'oo u kno u nasty üòã',
 'https://t.co/6ZEALkW4Du https://t.co/JSojWWke5f']

In [7]:
users_1145 = pd.read_csv("./labeled_users_1145/labeled_users.csv", lineterminator='\n')

In [8]:
len(users_1145)

1145

In [9]:
users_1145.head()

,Unnamed: 0,Unnamed: 0.1,screen_name,user_id,lang,name,location,description,protected,followers_count,...,profile_background_url,profile_image_url,user.name,num.tweets.used.Lexicon.prediction,Lexicon.age.prediction,Lexicon.gender.prediction..index.,lexicon.gender.prediction,human.labeled.gender,human.labeled.age,age
0,0,1,_____zac_____,4.614412e+08,en,zac ¬ä¬ó¬¢,"Maryland, USA",_¬ô___¬ô_√õ_¬ô¬ï__¬ô¬ê√à¬ä_√ú¬¥√ô¬è,False,208,...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1226134911...,@_____zac_____,100.0,27.652434,-1.457167,M,NaN,23.0,1.0
1,1,2,___aleia,7.650000e+17,en,_¬ñ√¶__¬ñ¬Å_ dad _¬ñ¬Å__¬ñ√¶_,"Ohio, USA",BLACK. LIVES. MATTER.,False,466,...,NaN,http://pbs.twimg.com/profile_images/1271280679...,@___aleia,100.0,24.111464,0.985713,F,NaN,19.0,0.0
2,3,4,___schaeffer___,1.257110e+09,en,Brenden Schaeffer,The Lou,Culver-Stockton College '20 ¬ä¬ó¬¢ √î_√î_√î¬ï KM 1548...,False,811,...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1268044218...,@___schaeffer___,59.0,35.518352,-3.591586,M,NaN,22.0,0.0
3,8,9,__drewc,1.050000e+18,en,drew,"New York, USA",_¬ô√∂√Ç_¬ô√∂√© _¬ô√∂√Ç_¬ô√∂_ ¬ä_√ß¬¥√ô¬è ¬ä√à¬†\r\r26 #NewYork,False,27,...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1090809548...,@__drewc,134.0,24.910635,1.969121,F,NaN,26.0,1.0
4,9,10,__EmilyRice__,3.797155e+09,en,em,"Marble Falls, TX",#TXST22,False,158,...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8415201103...,@__EmilyRice__,100.0,25.191925,2.382856,F,NaN,20.0,0.0

In [10]:
users_1145["Unnamed: 0"]

0          0
1          1
2          3
3          8
4          9
        ...
1140    3268
1141    3271
1142    3272
1143    3274
1144    3279
Name: Unnamed: 0, Length: 1145, dtype: int64

In [11]:
users_1145["Under_21"] = (users_1145["human.labeled.age"] > 21 ).astype(int)

In [12]:
users_1145.groupby("Under_21").count()

,Unnamed: 0,Unnamed: 0.1,screen_name,user_id,lang,name,location,description,protected,followers_count,...,profile_background_url,profile_image_url,user.name,num.tweets.used.Lexicon.prediction,Lexicon.age.prediction,Lexicon.gender.prediction..index.,lexicon.gender.prediction,human.labeled.gender,human.labeled.age,age
Under_21,,,,,,,,,,,,,,,,,,,,,
0,617,617,617,617,607,617,571,600,617,617,...,435,617,617,617,617,617,617,133,617,617
1,528,528,528,528,519,528,505,507,528,528,...,439,528,528,528,528,528,528,111,528,528

In [13]:
list_of_screen_names = users_1145['screen_name'].unique()
print(len(list_of_screen_names))

1145

In [14]:
'___Dals' in list_of_screen_names

False

In [15]:
users_1145[users_1145["screen_name"]=="___Dals"]["name"]

Series([], Name: name, dtype: object)

In [16]:
ageDict = users_1145.set_index('screen_name').to_dict()['Under_21']
imgPathDict = users_1145.set_index('screen_name').to_dict()['Unnamed: 0']

tweetList, screenNameList, imgPathList, ageList = [], [], [], []

for screen_name in tweets_1145:
    
    if((screen_name in list_of_screen_names)==False):
        continue
    for tweet in tweets_1145[screen_name]:
        
        tweetList.append(tweet)
        
        screenNameList.append(screen_name)
        
        imgPathList.append(imgPathDict[screen_name])
        
        ageList.append(ageDict[screen_name])
        
df_2 = pd.DataFrame({'Tweet': tweetList, 'Screen Name': screenNameList, 'img_path': imgPathList, 'Under 21': ageList})
df_2.to_csv('labeled_tweet_table_Age.csv', index=False)
df_2

,Tweet,Screen Name,img_path,Under 21
0,@AdvoBarryRoux @GetVidBot,_____zac_____,0,1
1,"The owner of drip doesn't even have 100 mill, ...",_____zac_____,0,1
2,even Lekau the owner of Drip was saying that i...,_____zac_____,0,1
3,"@casspernyovest is cappin that ""R100m"" figure...",_____zac_____,0,1
4,I want a recipe from @JBscotchSA for #JBLemona...,_____zac_____,0,1
...,...,...,...,...
106309,uci fucking evil for making me go to school to...,zzzakari4,3279,0
106310,"incredibly hot take, but i just think its funn...",zzzakari4,3279,0
106311,@valedesmadre u knw how i am üò´ its too much pr...,zzzakari4,3279,0
106312,will be needing a couple more business days to...,zzzakari4,3279,0
106313,its been 15 days since the final and ive final...,zzzakari4,3279,0

In [17]:
len(df_2)

106314

In [18]:
len(df_2["Screen Name"].unique())

1145

# For Race

In [19]:
with open("Twitter_User_Handles_labeled_tweets.json", encoding="utf8") as file:
    text = file.read()
    tweets = json.loads(text)

In [20]:
#tweets.keys()

In [21]:
tweets['12488'][:2]

['YKAR, a futuristic sans serif font by @EmmeranR - #Freebie #Font #Merci https://t.co/b6fBDvz6yZ',
 '@MBonvoyAssist Who can I contact about the very rude and poor service I‚Äôm experiencing during my current stay? Please and thank you!']

In [22]:
with open("User demo profiles.json", encoding="utf8") as file:
    text = file.read()
    profiles = json.loads(text)

In [23]:
profiles[:2]

[{'id': 12488,
  'name': 'Chad Boyce',
  'screen_name': 'djsnipa1',
  'description': 'Multimedia Developer, Graphic Designer, DJ, and anything else you want to call me.',
  'lang': 'NA',
  'img_path': 'profile pics/60147.jpeg'},
 {'id': 719703,
  'name': 'Tomato üò∑',
  'screen_name': 'Tomato',
  'description': 'üá≠üá∞Rise Up!',
  'lang': 'NA',
  'img_path': 'profile pics/60148.jpeg'}]

In [24]:
profile_dict = {}
for profile in profiles:
    profile_dict[str(profile['id'])] = {'name': profile['name'], 'screen_name': profile['screen_name'], 'description': profile['description'], 'lang': profile['lang'], 'img_path': profile['img_path']}

profile_dict['12488']

{'name': 'Chad Boyce',
 'screen_name': 'djsnipa1',
 'description': 'Multimedia Developer, Graphic Designer, DJ, and anything else you want to call me.',
 'lang': 'NA',
 'img_path': 'profile pics/60147.jpeg'}

In [25]:
users = pd.read_csv("labeled_users.csv")

In [26]:
print(len(users))
print(len(profiles))
print(len(tweets))

4132
3609
3276

In [27]:
len(users[users["year_born"].isnull()])

48

In [28]:
users["Under 21"] = (users["year_born"] > 2000).astype(int)

In [29]:
users.groupby("Under 21").count()

          user_id  is_female  year_born  race
Under 21
0            4110       4047       4062  4070
1              22         22         22    22

In [30]:
raceDict = users.set_index('user_id').to_dict()['race']
#ageDict = users.set_index('user_id').to_dict()['Under 21']

#ageList = []
userList, tweetList, nameList, screenNameList, descriptionList, langList, imgPathList, raceList  = [], [], [], [], [], [], [], []
for user in tweets:
    for tweet in tweets[user]:
        profile = profile_dict[user]
        name = profile['name']
        screenName = profile['screen_name']
        description = profile['description']
        lang = profile['lang']
        img_path = profile['img_path']
        userList.append(user)
        tweetList.append(tweet)
        nameList.append(name)
        descriptionList.append(description)
        screenNameList.append(screenName)
        langList.append(lang)
        imgPathList.append(img_path)
        raceList.append(raceDict[float(user)])
        #ageList.append(ageDict[float(user)])
df = pd.DataFrame({'User': userList, 'Tweet': tweetList, 'Name': nameList, 'Screen Name': screenNameList, 'Description': descriptionList,
              'Lang': langList, 'img_path': imgPathList, 'Race': raceList}).drop(columns=['User']) #, 'Under 21': ageList
df.to_csv('labeled_tweet_table_Race.csv', index=False)
df

,Tweet,Name,Screen Name,Description,Lang,img_path,Race
0,"YKAR, a futuristic sans serif font by @Emmeran...",Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0
1,@MBonvoyAssist Who can I contact about the ver...,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0
2,@SSlnes I‚Äôd like to win!,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0
3,@LuckyDucksNFT @Rydog,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0
4,Now I'm heading to B1000th Floor! #quickrogue,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0
...,...,...,...,...,...,...,...
313468,Preach it üôåüôå https://t.co/8xPvSZpiLb,‚úø‚ô•‚òÜ‚úß’°a Ñ Ñ ü…õ ’¶ ä…õ…õ’º‚úß‚òÜ‚ô•‚úø,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN
313469,Wut? https://t.co/FxR7WlXhDz,‚úø‚ô•‚òÜ‚úß’°a Ñ Ñ ü…õ ’¶ ä…õ…õ’º‚úß‚òÜ‚ô•‚úø,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN
313470,"Im not trying to be rude, im just saying that ...",‚úø‚ô•‚òÜ‚úß’°a Ñ Ñ ü…õ ’¶ ä…õ…õ’º‚úß‚òÜ‚ô•‚úø,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN
313471,"Sir, I'd like to know why you're being so rude...",‚úø‚ô•‚òÜ‚úß’°a Ñ Ñ ü…õ ’¶ ä…õ…õ’º‚úß‚òÜ‚ô•‚úø,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN
313472,"As a person of the female gender, not all are ...",‚úø‚ô•‚òÜ‚úß’°a Ñ Ñ ü…õ ’¶ ä…õ…õ’º‚úß‚òÜ‚ô•‚úø,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN

In [31]:
print(len(df['Screen Name'].unique()))

3276